<?xml version="1.0" encoding="UTF-8" ?>
<!--
    This is used to map merge patterns in files generated
    by spring cartridge to new patterns. Just add content to the
    CDATA sections of the <to/> elements in order to
    use the following merge points.
-->
<mappings name="SpringMerge">
    <mapping>
		<from>
			<![CDATA[<!-- cartridge-template merge-point -->]]>
		</from>
		<to>
			<![CDATA[			
		   <template path="templates/spring/AbstractEasyMockServiceTest.vsl" outputPattern="$generatedFile" outlet="service-tests-generated" overwrite="true">
				<modelElements variable="service">
					<modelElement>
						<type name="org.andromda.cartridges.spring.metafacades.SpringService">
							<property name="configonly">false</property>
						</type>
					</modelElement>
				</modelElements>
			</template>
			<template path="templates/spring/EasyMockServiceImplTest.vsl" outputPattern="$generatedFile" outlet="service-tests-impls" overwrite="false">
				<modelElements variable="service">
					<modelElement>
						<type name="org.andromda.cartridges.spring.metafacades.SpringService">
							<property name="configonly">false</property>
						</type>
					</modelElement>
				</modelElements>
			</template>
			]]>
		</to>
	</mapping>
	<!-- Inclusao de variaveis de namespace customizadas do spring-->
	<mapping>
		<from><![CDATA[<!-- namespace-propertyGroup merge-point -->]]></from>
		<to>
            <![CDATA[       
				<propertyGroup name="TestsOutlets">
                  <documentation>
                      Define Paths das classes de Testes Unitarios.
                  </documentation>
                  <property name="service-tests">
                      <documentation>
                          TODO: Localizacao das Interfaces e das Bases dos Testes.
                        </documentation>
                  </property>
                  <property name="service-tests-impls">
                      <documentation>
                          Localizacao das classes de implementacao dos Testes.
                      </documentation>
                  </property>
                  <property name="service-tests-generated">
                      <documentation>
                          Localizacao das classes abstratas dos Testes.
                      </documentation>
                  </property>
               </propertyGroup>
            ]]>
		</to>
	</mapping>
    <mapping>
        <from><![CDATA[<!-- cartridge-macrolibrary merge-point-->]]></from>
        <to>
            <![CDATA[
                <macrolibrary name="templates/ouvidoria/marcacoesMacro.vm"/>
            ]]>
        </to>
    </mapping>
</mappings>