/*
 * https://wiki.eclipse.org/MDT/Papyrus/UserGuide/CSS#Diagram_Stylesheets
 */
 
 /* DIAGRAMAS DE CLASSES */
Class {
	gradient: white vertical;
	elementIcon: false;
	bold: true;
}

Class[appliedStereotypes~=Entity]{
	fillColor:#A3C392;
}

Class[appliedStereotypes~=Entity][appliedStereotypes~=Manageable]{
	fillColor:#A3C392;
	gradient: white horizontal;
}

Class[appliedStereotypes~=FrontEndController]{
	fillColor: white;
}

Class[appliedStereotypes~=Service]{
	fillColor:#E2E276;
}

Class[appliedStereotypes~=ValueObject]{
	fillColor:#BB94C5;
}

Class[appliedStereotypes~=WebService]{
	fillColor:#F3C869;
}

Constraint {
	/*fillColor:#F3C869;*/
}

Enumeration {
	gradient: white vertical;
	elementIcon: false;
	fillColor:#C0C0C0;
	bold: true;
}

 
 
/* DIAGRAMAS DE MAQUINA DE ESTADO */
Activity {
	italic: true;
}
Choice {
	fillColor: black;
}
/* 
Guard {
	bold: true;
}
*/
Region {
	/*fillColor:blue;*/
}
State {
	gradient: white vertical;
	fillColor: #94c9cf;
	elementIcon: false;
	bold: false;
}
State[appliedStereotypes~=FrontEndView] {
	bold: true;
}
StateMachine {
	bold: true;
}
Transition {
	italic: true;
}
Transition[appliedStereotypes~=FrontEndAction] {
	/*bold: true;*/
}
Transition[appliedStereotypes~=FrontEndMessage] {
	/*bold: true;*/
}



/* DIAGRAMAS DE CASO DE USO */
UseCaseDiagram {
	/*border: 2px;
	gradient: white vertical;
	lineColor: #000000;
	 lineWidth: 2;*/ 
}

UseCase[appliedStereotypes~=FrontEndUseCase] {
	elementIcon: false;
	fillColor: #F3FAAA;
}

UseCase[appliedStereotypes~=FrontEndUseCase][appliedStereotypes~=FrontEndApplication] {
	elementIcon: true;
	fillColor: #F3FAAA;
	bold: true;
}

Actor{
	elementIcon: true;
	bold: true;
}
