
Class {
	gradient: white vertical;
	elementIcon: false;
	
	/*bold: true;
	 * shadow: true;
	qualifiedNameDepth: full;*/
}

Class[appliedStereotypes~=Entity]{
	/*Class[appliedStereotypes~=Block][appliedStereotypes~=MyCustomStereotype][isEncapsulated=true][myCustomProperty=SomeValue][isAbstract=false]{
	fillColor:red;
	}
	 *  A class on which the stereotypes "Block" and "MyCustomStereotype" are applied, 
	*  and on which the stereotype property "isEncapsulated" is set to true, 
	*  the stereotype property "myCustomProperty" is set to "SomeValue", and 
	*  the UML Property "isAbstract" is set to false */
 
	fillColor:red;
}

Class[appliedStereotypes~=Entity][appliedStereotypes~=Manageable]{
	fillColor:green;
}

Class[appliedStereotypes~=Service]{
	fillColor:red;
}

Class[appliedStereotypes~=ValueObject]{
	fillColor:red;
}

Enumeration {
	fillColor:red;
}



/*
Compartment[kind="structure"]{
    collapsed:true;
}

Compartment[kind=attribute]{
    visible:false;
}
Class > Compartment[kind~=attribute] {
    visible: false;
}
*  */