
Class {
	gradient: white vertical;
	elementIcon: false;
	bold: true;
	
	/*
	 * shadow: true;
	qualifiedNameDepth: full;*/
}

Enumeration {
	gradient: white vertical;
	elementIcon: false;
	fillColor:#C0C0C0;
	bold: true;
}

Class[appliedStereotypes~=Entity]{
	/*Class[appliedStereotypes~=Block][appliedStereotypes~=MyCustomStereotype][isEncapsulated=true][myCustomProperty=SomeValue][isAbstract=false]{
	fillColor:red;
	}
	 *  A class on which the stereotypes "Block" and "MyCustomStereotype" are applied, 
	*  and on which the stereotype property "isEncapsulated" is set to true, 
	*  the stereotype property "myCustomProperty" is set to "SomeValue", and 
	*  the UML Property "isAbstract" is set to false  */
 
	fillColor:#A3C392;
}

Class[appliedStereotypes~=Entity][appliedStereotypes~=Manageable]{
	fillColor:#A3C392;
	gradient: white horizontal;
}

Class[appliedStereotypes~=Service]{
	fillColor:#E2E276;
}

Class[appliedStereotypes~=ValueObject]{
	fillColor:#BB94C5;
}

Class[appliedStereotypes~=WebService]{
	fillColor:#F3C869;
}





/*
Compartment[kind="structure"]{
    collapsed:true;
}

Compartment[kind=attribute]{
    visible:false;
}
Class > Compartment[kind~=attribute] {
    visible: false;
}
*  */